.dropdown:hover .dropdown-menu {
  display: block;
}

.active a{
  border-bottom: solid 2px #D1A825;
  color: #fff;
  border-radius: 5%;
  background-repeat: no-repeat;
}

.home{
  background: linear-gradient(rgba(15, 23, 43, .9), rgba(15, 23, 43, .9)), url(./assets/images/back.webp);
}

.servcard:hover .text{
  color: white;
}





/* @keyframes .App {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
